<section class="oe_container">
    <div class="oe_span12">
        <h2 class="oe_slogan">Flectra regionalizaci&oacute;n para Chile</h2>
        <h3 class="oe_slogan">Cartolas Bancarias de Chile.<br />por Konos</h3>
    </div>
    <div class="oe_span12">
        <p class="oe_mt32">
            M&oacute;dulo para Importaci&oacute;n de Cartolas Bancarias de Chile.<br />
            <a target="_blank" href="https://www.youtube.com/watch?v=raLA72Sfcds">https://youtu.be/4oXUQB68HF8</a> <br />            
        </p>
        <div class="oe_demo oe_picture oe_screenshot">
           <img src="foto1.png"/>
        </div>
    </div>
    <div class="oe_span12">
        <div class="oe_demo oe_picture oe_screenshot">
           <img src="foto2.png"/>
        </div>
    </div>
    
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Mejoras que faltan realizar: (TO-DOs)</h2><br>
        <div class="oe_span12">
            <div class="oe_demo oe_picture oe_screenshot">
               <li>Agregar Bancos: Itau.</li>

            </div>
        </div>


    </div>
</section>
