<section class="oe_container">
    <div class="oe_span12">
        <h2 class="oe_slogan">Flectra regionalizaci&oacute;n para Chile</h2>
        <h3 class="oe_slogan">Payroll Chile y Recursos Humanos.<br />por Konos</h3>
    </div>
    <div class="oe_span12">
        <p class="oe_mt32">
            Personalizaci&oacute;n para manejo de Recursos Humanos y Remuneraciones en Chile.<br />
            <a target="_blank" href="https://youtu.be/6m9fuuCny7g">https://youtu.be/6m9fuuCny7g</a> <br />
        </p>
        <div class="oe_demo oe_picture oe_screenshot">
           <img src="foto1.png"/>
        </div>
        <div class="oe_demo oe_picture oe_screenshot">
           <img src="foto4.png"/>
        </div>
        <div class="oe_demo oe_picture oe_screenshot">
           <img src="foto2.png"/>
        </div>
    </div>
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Mejoras que faltan realizar: (TO-DOs)</h2><br>
        <div class="oe_span12">
            <div class="oe_demo oe_picture oe_screenshot">
               <li>Finiquitos.</li>
               <li>Vacaciones.</li>
            </div>
        </div>


    </div>
</section>
